<div class="marker-list-container">
  <div class="marker-list">
    <div class="marker-list-item" *ngFor="let item of list">
      <div class="row">
        <div class="title">{{ item?.task }}</div>
        <div class="status" [innerHTML]="item?.status | statusBadge"></div>
      </div>
      <div class="row">
        From:&nbsp;<div class="details">{{ item?.from }}</div>
      </div>
      <div class="row">
        To:&nbsp;<div class="details">{{ item?.to }}</div>
      </div>
      <div class="row">
        Due Date:&nbsp;<div class="details" [innerHTML]="item?.date | warningByCondition"></div>
      </div>
    </div>
  </div>
  <div class="map">
    <google-map
        height="100%"
        width="100%"
        [center]="config.center"
        [zoom]="config.zoom"
    >
      <map-marker *ngFor="let markerPosition of markerPositions"
                  [position]="markerPosition"
                  [options]="markerOptions"></map-marker>
    </google-map>
  </div>
</div>
