app-table {
  table {
    background: var(--white);
    border: 1px solid var(--table);
    box-shadow: var(--shadow-1);
    border-radius: 8px;
    margin-bottom: 1em;

    &.mat-mdc-table tr.mat-mdc-row.element-row {
      &:hover {
        background-color: var(--primary1000);
      }
      &:not(&:hover) {
        .mat-mdc-checkbox:not(.mat-mdc-checkbox-checked) {
          display: none;
        }
      }
    }
  }

  .mat-mdc-paginator-range-actions {
    width: 100%;

    .mat-mdc-icon-button.mat-mdc-button-base,
    button {
      width: 32px;
      height: 32px;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      color: var(--black);
      border-radius: 4px;
      margin-left: 8px;
      border: 1px solid var(--border);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      &[disabled]:not(.active):not(.mat-custom-page) {
        background-color: var(--table);
        border: 1px solid var(--table);

        svg {
          fill: var(--disable);
        }
      }

      &.active {
        color: var(--primary);
        border-color: var(--primary);
      }

      .mat-mdc-button-persistent-ripple {
        display: none;
      }
    }

    .mat-mdc-paginator-range-label {
      width: 100%;
      margin-left: 0;
      color: var(--black);
    }
  }

  .btn_custom-paging-container {
    display: flex;
  }
}
