<div class="container">
  <div class="header">
    <div class="title">
      Submissions
    </div>
    <div class="action-bar">
      <div class="left-side-actions">
        <mat-form-field class="my-form-field" appearance="outline">
          <mat-label>Search</mat-label>
          <mat-icon matIconPrefix>search</mat-icon>
          <input #input matInput type="text" [(ngModel)]="activeSearchFilter" (ngModelChange)="search($event)">
          <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; search('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="my-form-field" appearance="outline">
          <mat-label>Select Form</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of []" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="my-form-field" appearance="outline">
          <mat-label>Select Status</mat-label>
          <mat-select (valueChange)="statusChange($event)">
            <mat-option *ngFor="let item of statusList" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="my-form-field" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" readonly (click)="picker.open()">
          <mat-datepicker-toggle matIconPrefix [for]="picker">
            <mat-icon class="calendar-outline-icon" matDatepickerToggleIcon svgIcon="calendar_outline"></mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="right-side-actions">
        <mat-button-toggle-group appearance="standard" [(ngModel)]="tab">
          <mat-button-toggle value="map">Map</mat-button-toggle>
          <mat-button-toggle value="list">List</mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-flat-button class="export-btn">
          <mat-icon [svgIcon]="'paper_download'"></mat-icon>
          <div>Export</div>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <app-table *ngIf="tab === 'list'" [data]="filteredData" [config]="config" [pageSize]="pageSize"></app-table>
    <app-marker-list *ngIf="tab === 'map'" [data]="filteredData" ></app-marker-list>
  </div>
</div>
